@model IEnumerable<ghadir.Models.Product>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/ProductImages/@item.ImageName" alt="...">
            <div class="caption text-center">
                <h3>@item.ProductTitle</h3>
                <p>@item.Price.ToString("#,0 تومان")</p>
                <p><a class="btn btn-primary" onclick="AddToCart(@item.ProductID)" role="button">خرید</a></p>
            </div>
        </div>
    </div>
}

